body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid 1px black;
  font-size: larger;
}

footer {
  border-top: solid 1px black;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, h1, h2, h3, li, p {
  line-height: 1.5;
  max-width: 43rem;
}

figure.command {
  border-left: solid 4px black;
  padding-left: 0.5em;
}

fieldset, input, select, td, th {
  border: solid 1px black;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid 1px black;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: inherit;
  outline-style: none;
  text-decoration: underline;
}

a:focus-visible, a:hover, ::selection {
  background-color: black;
  color: white;
}
