html {
  --gray: hsl(0  0% 49%); /* Contrast ratio on white >= 4 */
  --red1: hsl(0 60% 37%); /* Contrast ratio on white >= 8 */
  --red2: hsl(0 60% 58%); /* Contrast ratio on white >= 4 */
  --red3: hsl(0 60% 83%); /* Contrast ratio on black >= 12 */
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid var(--gray) 1px;
  font-size: larger;
}

footer {
  border-top: solid var(--gray) 1px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, h1, h2, h3, li, p {
  line-height: 1.5;
  max-width: 43rem;
}

fieldset, input, select, td, th {
  border: solid var(--gray) 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid var(--gray) 1px;
}

li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--red1);
  outline-style: none;
  text-decoration: underline;
}

a:focus-visible, a:hover {
  background-color: var(--red1);
  color: white;
}

::selection {
  background-color: var(--red3);
}
