html {
  --gray:   hsl(45   0% 54%); /* Target contrast ratio on white: 3.5 */
  --brown:  hsl(45 100% 15%); /* Target contrast ratio on white: 11 */
  --pyrite: hsl(45 100% 34%); /* Target contrast ratio on white: 3.5 */
  --gold:   hsl(45 100% 74%); /* Target contrast ratio on black: 16 */
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid var(--gray) 1px;
  font-size: larger;
}

footer {
  border-top: solid var(--gray) 1px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, h1, h2, h3, li, p {
  line-height: 1.5;
  max-width: 43rem;
}

fieldset, input, select, td, th {
  border: solid var(--gray) 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid var(--gray) 1px;
}

li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--brown);
  outline-style: none;
  text-decoration: underline;
}

a:focus-visible, a:hover {
  background-color: var(--brown);
  color: white;
}

::selection {
  background-color: var(--gold);
}
