canvas.framed, img.framed {
  border: solid 1px black;
  image-rendering: pixelated;
}

table.image td {
  text-align: center;
  width: 3em;
  height: 3em;
}

/* Hacky */
section.inline-block-figures figure {
  display: inline-block;
  margin-right: 0;
  margin-top: 0;
}

/* Hacky */
section.inline-block-figures figure + p {
  margin-top: 0;
}
