html {
  --line-color: #949494;

  background-color: white;
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 0.5em;
}

header {
  border-bottom: 1px solid var(--line-color);
  font-size: larger;
}

footer {
  border-top: 1px solid var(--line-color);
  font-size: smaller;
}

a {
  color: #595959;
  text-decoration: underline;
}

audio, canvas, img {
  vertical-align: top;
}

canvas, img {
  border: 1px solid var(--line-color);
  height: auto;
  image-rendering: pixelated;
  max-width: calc(100% - 2px);
}

fieldset {
  margin: 1em 0;
  padding: 0 0.5em;
  width: max-content;
}

fieldset, input, select, td, th {
  border: 1px solid var(--line-color);
}

fieldset p, li {
  margin-block: 0.5em;
}

input, select {
  border-radius: 0;
  color: inherit;
}

math[display="block"] {
  margin-block: 1em;
  margin-inline: 40px;
  text-align: inherit;
  width: max-content;
}

pre {
  border-top: 1px solid var(--line-color);
  border-left: 1px solid var(--line-color);
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  scrollbar-color: var(--line-color) transparent;
  scrollbar-width: thin;
}

sub, sup {
  line-height: 0;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.5em;
  text-align: left;
}

@media print {
  body {
    max-width: none;
    padding: 0;
  }
}
