body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 8px auto;
  max-width: 43em;
  padding: 0 8px;
}

header {
  border-bottom: solid black 1px;
  font-size: larger;
}

footer {
  border-top: solid black 1px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

canvas, img {
  image-rendering: pixelated;
  max-width: 100%;
}

pre {
  border-top: solid black 1px;
  border-left: solid black 1px;
  max-width: 100%;
  overflow: scroll;
  scrollbar-color: black white;
  scrollbar-width: thin;
}

fieldset, input, select, td, th {
  border: solid black 1px;
}

table {
  border-collapse: collapse;
}

fieldset, pre, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  background-color: white;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus, select:focus {
  outline: solid black 1px;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: inherit;
  outline-style: none;
  text-decoration: underline;
}

a:focus, a:hover, ::selection {
  background-color: black;
  color: white;
}
