body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 0.5em;
}

header {
  border-bottom: solid black 1px;
  font-size: larger;
}

footer {
  border-top: solid black 1px;
  font-size: smaller;
}

audio, canvas, img {
  vertical-align: top;
}

canvas, img {
  border: solid black 1px;
  height: auto;
  image-rendering: pixelated;
  max-width: calc(100% - 2px);
}

pre {
  border-top: solid black 1px;
  border-left: solid black 1px;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  scrollbar-color: black white;
  scrollbar-width: thin;
}

fieldset, input, select, td, th {
  border: solid black 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  background-color: white;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

li {
  margin-block: 0.5em;
}

math[display="block"] {
  margin-block: 1em;
}

sub, sup {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:focus, a:hover, ::selection {
  background-color: silver;
}
