html {
  --silver: hsl(0    0% 58%);
  --brown:  hsl(50 100% 20%);
  --pyrite: hsl(50 100% 34%);
  --beige:  hsl(50 100% 76%);
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid var(--silver) 1px;
  font-size: larger;
}

footer {
  border-top: solid var(--silver) 1px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, h1, h2, li, p {
  max-width: 80ch;
}

fieldset, input, select, td, th {
  border: solid var(--silver) 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid var(--silver) 1px;
}

li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

math[display="block"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

canvas.framed, img.framed {
  border: solid var(--pyrite) 1px;
  image-rendering: pixelated;
}

a {
  color: var(--brown);
  outline-style: none;
  text-decoration: underline;
}

a:focus-visible, a:hover {
  background-color: var(--brown);
  color: white;
}

::selection {
  background-color: var(--beige);
}
