html {
  /* a = minimum contrast ratio = 1 */
  /* b = maximum contrast ratio = 21 */
  /* r = contrast ratio range = b - a = 20 */
  /* f(x) = a + r / x */
  --gray:    hsl(0     0% 39%); /* Target contrast ratio on white = f(4) = 6 */
  --silver:  hsl(0     0% 74%); /* Target contrast ratio on black = f(2) = 11 */
  --red:     hsl(0   100% 25%); /* Target contrast ratio on white = f(2) = 11 */
  --gold:    hsl(45  100% 34%); /* Target contrast ratio on white = f(8) = 3.5 */
  --blue:    hsl(240 100% 41%); /* Target contrast ratio on white = f(2) = 11 */
  --magenta: hsl(300 100% 22%); /* Target contrast ratio on white = f(2) = 11 */
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid var(--gray) 2px;
  font-size: larger;
}

footer {
  border-top: solid var(--gray) 2px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, h1, h2, li, p {
  max-width: 80ch;
}

fieldset, input, select, td, th {
  border: solid var(--gray) 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid var(--gray) 2px;
}

input:invalid {
  background-color: var(--red);
  color: white;
}

figure {
  margin: 1em;
}

li {
  margin-top: 0.25em;
}

canvas.framed, img.framed {
  border: solid var(--gold) 2px;
}

a {
  outline-style: none;
  text-decoration: underline;
}

a:link {
  color: var(--blue);
}

a:link:focus-visible, a:link:hover {
  background-color: var(--blue);
  color: white;
}

a:visited {
  color: var(--magenta);
}

a:visited:focus-visible, a:visited:hover {
  background-color: var(--magenta);
  color: white;
}

a:active {
  color: var(--red);
}

a:active:focus-visible, a:active:hover {
  background-color: var(--red);
  color: white;
}

::selection {
  background-color: var(--silver);
}
