body {
  background-color: white;
  color: black;
  font-family: sans-serif;
}

header {
  border-bottom: solid dimgray 2px;
  font-size: larger;
}

footer {
  border-top: solid dimgray 2px;
  font-size: smaller;
}

footer small {
  font-size: inherit;
}

figcaption, li, p {
  max-width: 80ch;
}

fieldset, input, select, td, th {
  border: solid dimgray 1px;
}

table {
  border-collapse: collapse;
}

fieldset, td, th {
  padding: 0.5em;
}

fieldset {
  width: max-content;
}

input, select {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input:focus-visible, select:focus-visible {
  outline: solid dimgray 2px;
}

input:invalid {
  background-color: darkred;
  color: white;
}

figure {
  margin: 1em;
}

canvas.framed, img.framed {
  border: solid darkgoldenrod 2px;
}

a {
  outline-style: none;
  text-decoration: underline;
}

a:link {
  color: blue;
}

a:link:focus-visible, a:link:hover {
  background-color: blue;
  color: white;
}

a:visited {
  color: darkmagenta;
}

a:visited:focus-visible, a:visited:hover {
  background-color: darkmagenta;
  color: white;
}

a:active {
  color: darkred;
}

a:active:focus-visible, a:active:hover {
  background-color: darkred;
  color: white;
}

::selection {
  background-color: silver;
}
